h1 {
  color: #f00;
  font-size: 6em;
  line-height: 1em;
}

span.cta, span.phone {
  font-size: 3em;
  font-weight:bold;
  line-height: 1em;
  margin-bottom: 20px;
}

span.cta { color: #aaa; }

span.phone { color:000; }

span.off { display: none; }

h2.off { }


.footer {
  margin-bottom: 50px;
}
